.menu-main {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: white;
    left: calc(50% - 75px);
    top: 100px;
    text-align: center;
}

.menu-connectionstatus {
    position: absolute;
    font-size: 20px;
}

.menu-button {
    padding: 5px;
}

.menu-textinput {
    margin: 5px;
    width: 100px;
}